*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
span{
    background-image: url('https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png');
    background-size: cover;
    position: absolute;
    animation: movingheart 8s linear infinite;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
@keyframes movingheart{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0turn);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(4turn);
    }
}